.dash {
  display: flex;
}
.Dasbtn {
  width: 90%;
  height: 35px;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.Dasbtn:hover {
  background-color: rgb(168, 167, 167);
  margin-left: -8px;
}
#eet {
  transition: all 0.9s ease-in-out;
}
#ett:hover {
  transition: all 0.5s ease-in;
  margin-top: -10px;
  margin-left: -10px;
}
#fi {
  position: fixed;
  position: sticky;
  top: 13vh;
}

.burger button {
  border: none;
  color: white;
  background-color: transparent;
  font-size: 29px;
  outline: none;
}
.messagess {
  position: relative;
  font-size: 25px;
}
.num {
  height: 21px;
  font-size: 12px;
  width: 25px;
  display: grid;
  place-items: center;
  position: absolute;
  top: -1px;
  right: 6px;
  border-radius: 8px;
}
.round {
  height: 50px;
  background-color: rgb(201, 201, 201);
  width: 50px;
}
#hoverEffect {
  transition: all 0.3s ease-in-out;
}
#hoverEffect:hover {
  background-color: #2d1455;
  color: white;
}
#timeLineCon::after {
  content: "";
  height: 10px;
  width: 10px;
  background-color: #984779;
  position: relative;
  left: -8%;
  border-radius: 50%;
  top: 46%;
}
#tab td {
  padding-top: 12px;
  padding-bottom: 12px;
}
@media (max-width: 800px) {
  .messagess {
    margin-left: -8%;
  }
  div {
    padding-left: 0px;
    margin-right: 0px;
  }
  #dash2 {
    height: 880px;
  }
  #tex {
    display: none;
  }
  .burger {
    left: 34%;
  }
  #dash3 {
    position: none;
    /* display: none; */
  }
  #fi {
    background: rgba(0, 0, 0, 0.904);
    box-shadow: none;
    position: fixed;
    z-index: 2;
    transition: all 0.6s ease-in-out;
    top: 13vh;
    width: 85%;
  }
  .Dasbtn {
    background-color: transparent;
    color: white;
    font-size: 18px;
  }
  .Dasbtn:hover {
    background-color: #1451b9;
  }
}

/* new stuff */

@media (min-width: 992px) {
  .page-container {
    max-width: 1140px;
    margin: 0 auto;
  }
  .page-sidenav {
    display: block !important;
  }
}

.padding {
  padding: 2rem;
}

.w-32 {
  width: 32px !important;
  height: 32px !important;
  font-size: 0.85em;
}
.tl-item .avatar {
  z-index: 2;
}

.circle {
  border-radius: 500px;
}

.gd-warning {
  color: #fff;
  border: none;
  background: #984779;
  width: 10px;
}

.timeline {
  position: relative;
  border-color: rgba(160, 175, 185, 0.15);
  padding: 0;
  margin: 0;
}

.block,
.card {
  background: #fff;
  border-width: 0;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  margin-bottom: 1.5rem;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.tl-item {
  border-radius: 3px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
}

.tl-item > * {
  padding: 10px;
}

.tl-item .avatar {
  z-index: 2;
}

.tl-item:last-child .tl-dot:after {
  display: none;
}

.tl-item.active .tl-dot:before {
  border-color: #448bff;
  box-shadow: 0 0 0 4px rgba(68, 139, 255, 0.2);
}

.tl-item:last-child .tl-dot:after {
  display: none;
}

.tl-item.active .tl-dot:before {
  border-color: #448bff;
  box-shadow: 0 0 0 4px rgba(68, 139, 255, 0.2);
}

.tl-dot {
  position: relative;
  border-color: rgba(160, 175, 185, 0.15);
}

.tl-dot:after,
.tl-dot:before {
  content: "";
  position: absolute;
  border-color: inherit;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.tl-dot:after {
  width: 0;
  height: auto;
  top: 25px;
  bottom: -15px;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  border-radius: 0;
}

tl-item.active .tl-dot:before {
  border-color: #448bff;
  box-shadow: 0 0 0 4px rgba(68, 139, 255, 0.2);
}

.tl-dot {
  position: relative;
  border-color: rgba(160, 175, 185, 0.15);
}

.tl-dot:after {
  content: "";
  position: absolute;
  border-color: inherit;
  border-width: 2px;
  border-style: dotted;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}
.tl-dot:before {
  content: "";
  position: absolute;
  border-color: inherit;
  /* border-width: 2px; */
  /* border-style: dotted; */
  border-radius: 50%;
  background-color: #984779;
  width: 10px;
  height: 10px;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.tl-dot:after {
  width: 0;
  height: auto;
  top: 25px;
  bottom: -15px;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  border-radius: 0;
}

.tl-content p:last-child {
  margin-bottom: 0;
}

.tl-date {
  /* font-size: 0.85em; */
  margin-top: 2px;
  min-width: 100px;
  max-width: 100px;
}

.avatar {
  position: relative;
  /* line-height: 1; */
  border-radius: 500px;
  white-space: nowrap;
  /* font-weight: 700; */
  border-radius: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 500px;
  box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.15);
}
